
#skills{
  background-color: #34aeeb;

  width:100%;
 
   
} 
.focus {
    transition: transform 0.3s;
  }
  
  .focus:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 2em;
    font-weight: 700;
  }
  
  .image-style {
    width: 3em;
  }
  
  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: #231d5af8;
  }
  
  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
  }
  .card-deck{
    margin:0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }